# ———— path/to/project/root/.eslintignore
# ———— /node_modules/* and /bower_components/* in the project root are ignored by default

lib-cp/
lib/
# sources/sentry/init/LostErrorSentry.js
# sources/sentry/init/LostErrorSentry.min.js
