# TIP——————————————————【两者通用】——————————————————

node_modules/
package-lock.json
!dist/       # 保留dist文件夹

#
#
# TIP——————————————————【当前文件所特有】——————————————————
#
#

# .idea/
# TIP 这一条，最好还是加上！
.idea/workspace.xml
