.DS_Store
# local env files
.env.local
.env.*.local
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# TIP——————————————————【两者通用】——————————————————

package-lock.json

# TIP——————————————————【当前文件所特有】——————————————————

#               ——————————————仅保留部分idea配置文件
!/.idea/
/.idea/workspace.xml

#               ——————————————（不）保留打包后文件          WARN 后来发现，开发阶段的话，是需要【npm 安装 GithUB形式的依赖】。所以仍然保留！！！
!/lib/
!/lib-cp/

#               ——————————————去掉依赖库
/node_modules
