# TIP——————————————————【两者通用】——————————————————

node_modules/
package-lock.json
!dist/       # 保留dist文件夹
!lib/        # 保留lib文件夹

#
#
# TIP——————————————————【当前文件所特有】——————————————————
#
#

.idea/
public/
src/
sources/
