<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>bg-4.0-nav-header</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <div id="app"></div>-->
<!--    <script src="/dist/build.js"></script>-->
<!--  </body>-->
<!--</html>-->

<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>custom-ui</title>
</head>
<body>
  <div id="app">
    <moor-hello-world :color="color" :msg="msg"></moor-hello-world>
    <moor-switch
      v-model="lightSwitch">开关:</moor-switch>
  </div>
  &lt;!&ndash; <script src="./node_modules/vue/dist/vue.js"></script> &ndash;&gt;
  <script src="/dist/custom-ui.js"></script>
</body>
<script>
  // new Vue({
  //   el: '#app',
  //   data() {
  //     return {
  //       color: 'red',
  //       msg: 'hello world!',
  //       lightSwitch: false
  //     }
  //   }
  // })
</script>
</html>
-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>bg-4.0-nav-header</title>
</head>
<body>
  <!-- 省略部分代码 -->
  <div id="app">
    <!--
    <moor-hello-world :color="color" :msg="msg"></moor-hello-world>
    -->
    <moor-switch
      v-model="lightSwitch">开关:
    </moor-switch>
    <!--    <ImgWrapper/>-->
    <img-wrapper></img-wrapper>
    <bg-four-nav-header></bg-four-nav-header>
  </div>
  <script src="./node_modules/vue/dist/vue.js"></script>
  <script src="./dist/bg-4.0-nav-header.js"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          color      : 'red',
          msg        : 'hello world!',
          lightSwitch: false
        };
      }
    });
  </script>
</body>
</html>
