.video-js-com {
  position: relative;
  height: 100%;
  background-color: #161616;
}
.video-js-com .player-initializing {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  transform: translateY(-50%);
}
